<!doctype html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SkillInsights</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/stylesheet.css">


</head>
<body>

    <script src="https://code.jquery.com/jquery.js"></script>


    <div class="container">

NAV BAR




    <h1>SkillInsights</h1>


    <!--The links below go to app routes in server.py, not html pages.-->
    <a href="/">Home</a>
    <a href="/reg_form">Register</a>

    {% if "user_id" in session %}
        <a href="/welcome">Search</a>

        <form action="/logout">
            <button type="submit">Logout</button>
        </form>
    {% endif %}


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}






NAV BAR

    <hr> <!-- horizontal line -->


    {% block content %} put your content here {% endblock %}


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </div>
    <footer>2017 Hackbright Student Project - Carrie Li
    </footer>
</body>
</html>