<!doctype html>
<html>
<head>
    <title>Career Discovery</title>
    <link rel="stylesheet" href="/static/css/mapstyles.css">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
</head>
<body>

    <script src="https://code.jquery.com/jquery.js"></script>
    <a href="/">Home</a>
    <a href="/reg_form">Register</a>

    {% if "user_id" in session %}
        <form action="/logout">
            <button type="submit">Logout</button>
        </form>
    {% endif %}


    <a href="/">Home</a><br>
    <h1>Career Discovery</h1>
    <hr> <!-- horizontal line -->
    {% block content %} put your content here {% endblock %}





    <footer>2017 Hackbright Student Project - Carrie Li
    </footer>
</body>
</html>