{% extends 'base.html' %}
{% block content %}


  <h2>Welcome, {{ user.first_name }}!</h2>

  <h2>Job Titles related</h2>





<div id="map"></div>

<script src="/static/js/gmapsAPI.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8OUbV65M8fRk2cSa-qfCf8zdnSAjyUbg
&callback=initMap">
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>



{% endblock %}